[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]
pre-commit = "*"
invoke = "*"
flake8 = "*"
pytest = "*"
